<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Configuration</title>
    <link rel="stylesheet" href="../../index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="../../utils/data.js"></script>
    <script defer type="module" src="../../controller/config/general-config.js"></script>
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <div class="logo">
                <a href="../main/main.html">
                    <div class="top">DOOFAS</div>
                    <div class="bottom">Innovative Solutions</div>
                </a>
            </div>
            <ul>
                <li class="selected">General</li>
                <li class="disabled">Mode</li>
                <li class="disabled">Serial</li>
                <li class="disabled">Network</li>
            </ul>
        </div>

        <div class="config-content">
            <h2>General Configuration</h2>

            <div class="input-list">
                <div class="input-item">
                    <label class="input-label" for="input1">MAC address</label>
                    <input type="text" id="input1" class="input-field" disabled placeholder="MAC address">
                </div>

                <div class="input-item">
                    <label class="input-label" for="input2">IP address</label>
                    <input type="text" id="input2" class="input-field" disabled placeholder="IP address">
                </div>

                <div class="input-item">
                    <label class="input-label" for="input3">Name</label>
                    <input type="text" id="input3" class="input-field" placeholder="example: device1">
                </div>

                <div class="input-item">
                    <label class="input-label" for="input4">Status</label>
                    <input type="text" id="input4" class="input-field" disabled placeholder="Ready">
                </div>

                <div class="input-item">
                    <label class="input-label" for="input5">Factory Reset</label>
                    <button class="button left-button factory-reset-button" id="factory-reset-button">Factory Reset</button>
                </div>
            </div>
            <div class="button-container button-config">
                <button class="button left-button" id="next-button">Next</button>
                <button class="button right-button" id="cancel-button">Cancel</button>
            </div>
        </div>
    </div>
</body>

</html>